<p id="notice"><%= notice %></p>

<h1>Listing My Problems</h1>

<table>
  <thead>
    <tr>
      <th>Problem details</th>
      <th>Solution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_problems.each do |my_problem| %>
      <tr>
        <td><%= my_problem.problem_details %></td>
        <td><%= my_problem.solution %></td>
        <td><%= link_to 'Show', my_problem %></td>
        <td><%= link_to 'Edit', edit_my_problem_path(my_problem) %></td>
        <td><%= link_to 'Destroy', my_problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My problem', new_my_problem_path %>
