<p id="notice"><%= notice %></p>

<p>
  <strong>Product ID:</strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart_id %>
</p>

<p>
  <strong>Book Title:</strong>
  <%= @line_item.product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @line_item.product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>
<p>
  <strong>Price:</strong>
  <%= "#{@line_item.quantity} x #{@line_item.price} = #{@line_item.quantity*@line_item.price}" %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
